%fieldset.handicap-required
  %legend Required
  %ol
    %li
      = form.label :slope, "Slope:"
      = form.text_field :slope, :size => '10'
    %li
      = form.label :rating, "Rating:"
      = form.text_field :rating, :size => '10'
    %li
      = form.label :score, "Score:"
      = form.text_field :score, :size => '10'
    
%fieldset
  %legend Optional
  %ol
    %li
      = form.label :course, "Course:"
      = form.text_field :course
    %li
      = form.label :played_on, "Played On:"
      = form.date_select :played_on, :default => Date.today
    %li
      = form.label :description, "Other Details:"
      %br
      = form.text_area :description, :size => "60x10"