%h2= "Welcome to Handicappr, " + @user.username

- if @user.has_just_been_created?
  %p Start by entering the slope, rating and score from your recent rounds of golf

- form_for @round do |form|
  = render :partial => "/rounds/simple_form", :locals => { :form => form }
  %p
    = form.submit 'Save', :disable_with => "Please wait..."
  
- content_for :sidebar do
  = render :partial => "users/info", :locals => { :user => @user }
  %p.clear
    = 'Your handicap is '
    = render :partial => "users/handicap", :locals => { :user => @user }