%h2 
  = "Viewing Handicappr profile of " + @user.username

- if @user.rounds.empty?
  %p No rounds have been entered
  - content_for :sidebar do
    %p.gravatar= image_tag gravatar_url_for(@user.email)
    %p= @user.username + " does not yet have a handicap because they haven't entered any rounds."
    
- else
  %h3 Past rounds:
  = render :partial => "/rounds/recent_rounds", :locals => { :rounds => @user.recent_rounds(params[:page], 10) }
  - content_for :sidebar do
    %p.gravatar= image_tag gravatar_url_for(@user.email)
    %p.handicap= @user.handicap